// Name:            Note
// Description:     -
//
// Component:       `at-note-*`
//
// ========================================================================

@import "../../globals/at-article.scss";

// Variables
// ========================================================================

$note-font-color:                     $global-tertiary-color; //#606060
$note-background-color:               $global-muted-color;

$note-font-size:                      .867em;
$note-mark-font-size:                 .675em;

/* ========================================================================
   Note
 ========================================================================== */
at-note {

  /* Type
  ========================================================================== */
  .at-note-default, .at-note-margin, .at-note-foot {
    display:none;
  }

  /* Number
  ========================================================================== */
  a.at-note-number {
    text-decoration: none;
    background: none;
  }

  /* Toggle
  ========================================================================== */
  input.at-note-toggle {
    display: none;
  }
  label.at-note-toggle {
    display: none;
  }
  label.at-note-toggle.at-note-number {
    display: inline;
  }

  /* Breakpoints
  ========================================================================== */
  @media screen and (min-width: 1200px) {
    .at-note-default, .at-note-margin {
      display: block;
      float: right;
      clear: right;
      margin-right: -60%;
      width: 50%;
      margin-top: 0;
      margin-bottom: 1rem;
      font-size: 1.1rem;
      line-height: 1.3;
      vertical-align: baseline;
      position: relative;

      color: $note-font-color;
      font-size: $note-font-size;
      line-height: 1.267em;
    }
  }
  @media (max-width: 1200px) {
    label.at-note-toggle {
      display: inline;
      cursor: pointer;
    }
    .at-note-toggle:checked + .at-note-default, .at-note-toggle:checked + .at-note-margin {
      display: block;
      float: left;
      //left: 1rem;
      clear: both;
      width: 95%;
      margin: 0.5rem 0.5rem;
      padding: 0.7rem 1rem;
      vertical-align: baseline;
      position: relative;
      background-color: $note-background-color;
    }
    /* remove note numbering when block margin */
    .at-note-default::before {
      display: none;
    }
  }
  @media screen and (max-width: 1400px) {
    .at-note-default, .at-note-margin {
      width: 45%;
      margin-right: -55%;
    }
  }
} // end at-note

/* ========================================================================
Note + Block
========================================================================== */
@media (min-width: 1200px) {
  at-article .at-block .at-note {
    left: 2.5rem;
  }
}

/* ========================================================================
Counter
========================================================================== */

/* Reset
 ========================================================================== */
body {
  counter-reset: at-note-default at-note-number;
}

/* Increment
 ========================================================================== */
.at-note-number::after {
  counter-increment: at-note-number;
  content: "" counter(at-note-number, lower-alpha) "";
  position: relative;
  vertical-align: baseline;
  font-size: 85%;
  top: -0.3rem;
  left: 0rem;
}
.at-note-default::before {
  counter-increment: at-note-default;
  content: "" counter(at-note-default, lower-alpha) " ";
  position: relative;
  vertical-align: baseline;
  font-size: 85%;
  top: -0.3rem;
  left: 0rem;
}
