// Name:            Heading
// Description:     -
//
// Component:
//
// ========================================================================

// Variables
// ========================================================================

$heading-font-family:                'Montserrat', $global-font-family !default;
$heading-font-color:                  $global-heading-color !default;

$heading-negative-margin:            40px !default;

/* ========================================================================
   Headings
 ========================================================================== */
at-article,
.#{$global-name} {

h2, .at-h2,
h3, .at-h3,
h4, .at-h4,
h5, .at-h5,
h6, .at-h6 {
	position: relative;
	left: -$heading-negative-margin;
	display: block;
	color: $heading-font-color;
	font-family: $global-font-family-heading;
}
@media only screen and (max-width: $global-breakpoint-medium + $heading-negative-margin) {
	h2, .at-h2,
	h3, .at-h3,
	h4, .at-h4,
	h5, .at-h5,
	h6, .at-h6 {
		left: unset;
		display: inline;
	}
}

h2, .at-h2 {font-size: 2em;}
h3, .at-h3 {font-size: 1.618em;}
h4, .at-h4 {font-size: 1.414em;}
h5, .at-h5 {font-size: 1.333em;}
h6, .at-h6 {font-size: 1.125em;}

/* ========================================================================
   Heading counter
 ========================================================================== */
/*
 http://philarcher.org/diary/2013/headingnumbers/
*/

body & {
	counter-reset: h2;
}

h2 {
	counter-reset: h3;
}

h3 {
	counter-reset: h4;
}

h4 {
	counter-reset: h5;
}

h5 {
	counter-reset: h6;
}

h2:before {
	counter-increment: h2;
	content: counter(h2) ". ";
}

h3:before {
	counter-increment: h3;
	content: counter(h2) "." counter(h3) ". ";
}

h4:before {
	counter-increment: h4;
	content: counter(h2) "." counter(h3) "." counter(h4) ". ";
}

h5:before {
	counter-increment: h5;
	content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". ";
}

h6:before {
	counter-increment: h6;
	content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". ";
}


/* ========================================================================
   Heading no-counter
 ========================================================================== */
h2.nocount:before, h2.at-nocount:before,
h3.nocount:before, h3.at-nocount:before,
h4.nocount:before, h4.at-nocount:before,
h5.nocount:before, h5.at-nocount:before,
h6.nocount:before, h6.at-nocount:before,
.at-references h2::before,
.at-notes h2::before,  {
	content: "";
	counter-increment: none;
}

} // end .at-article
