// Name:            Table
// Description:     -
//
// Component:       `table`
//
// ========================================================================

// Variables
// ========================================================================

$table-color-background:                $global-secondary-color !default;

$table-font-size:                       16px !default;
$table-font-size-head:                  12px !default;
$table-font-size-figcaption:            $global-font-size !default;

$table-figcaption-color:                $global-tertiary-color !default;

$table-cell-color:                      #999 !default;
$table-cell-hover-color:                #555 !default;
$table-cell-hover-color:                #555 !default;
$table-cell-hover-background:           #f4f4f4 !default;
$table-cell-head-color:                 #fff !default;
$table-cell-head-transform:             upercase !default;

$table-border-color:                    #eee !default;
$table-border-width:                    1px !default;
$table-border-width-botom:              2px !default;

at-article,
.#{$global-name} {
/* ========================================================================
   Table
 ========================================================================== */
 table {
  width: 100%;
  margin: 25px auto;
  border-collapse: collapse;
  border: $table-border-width solid $table-border-color;
  border-bottom: $table-border-width-botom solid lighten($table-color-background, 5);
  box-shadow: 0 0 20px rgba(0,0,0,0.10), 0 10px 20px rgba(0,0,0,0.05), 0 20px 20px rgba(0,0,0,0.05), 0 30px 20px rgba(0,0,0,0.05);

/* Raw cells
 ========================================================================== */
  tr {
    &:hover {
      background: $table-cell-hover-background;

      td {
        color: $table-cell-hover-color;
      }
    }
  }

  td,
  th {
    color: $table-cell-color;
    font-size: $table-font-size;
    border: 1px solid $table-border-color;
    padding: 12px 35px;
    border-collapse: collapse;
  }
  /* Head cells
   ========================================================================== */
  th {
    background: lighten($table-color-background, 5);
    color: $table-cell-head-color;
    text-transform: $table-cell-head-transform;
    font-size: $table-font-size-head;

    &.last {
      border-right: none;
    }
  }

/* Caption
 ========================================================================== */
  caption {
    color: $table-figcaption-color;
    font-size: $table-font-size-figcaption;
  }
}
} // end .at-article
