// Name:            Utility
// Description:     -
//
// Component:       -
//
// ========================================================================

// Variables
// ========================================================================


at-article,
.#{$global-name} {

  /* ========================================================================
  Reset
  ========================================================================== */
  box-sizing: border-box;

  /* ========================================================================
  Over-centering
  ========================================================================== */
  /* Caption
  by Chris Coyier (@chriscoyier) on CodePen.
  https://codepen.io/chriscoyier/pen/xOjaYA
  ========================================================================== */
  .full-width,
  .at-figure-fullwidth,
  iframe {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
} // end .at-article
