// Name:            Figure
// Description:     -
//
// Component:       -
//
// ========================================================================

@import "../../globals/at-article.scss";

// Variables
// ========================================================================

$figcaption-font-color:                      $global-tertiary-color !default;
$figcaption-font-size:                       0.889em !default;

/* ========================================================================
   Figure
 ========================================================================== */
at-figure {

  /* Figure
   ========================================================================== */
  figure {
    margin:auto;
  }
  /* Fullwidth
   ========================================================================== */
  .at-figure-fullwidth {
    width: 100vw;
    max-width: none;
    position: relative;
	  left: 50%;
	  right: 50%;
	  margin-left: -50vw;
	  margin-right: -50vw;
  }
  .at-figure-no-fullwidth {
    width:100%;
  }
  /* Caption
   ========================================================================== */
  .at-figure-caption {
    color: $figcaption-font-color;
    font-size: $figcaption-font-size;
    text-align: left;
    margin: .5em 0 1em 0;
  }
  /* Numbering
   ========================================================================== */
  .at-figure-caption-numbering {}

  /* Title
   ========================================================================== */
  .at-figure-caption-title {
    font-weight: 600;
  }
  /* Content
   ========================================================================== */
  .at-figure-caption-text {
    font-size: $figcaption-font-size;
  }
  .at-figure-caption-doi, .at-figure-caption-credit {}
}

/* ========================================================================
Counter
========================================================================== */

/* Reset
 ========================================================================== */
body {
  counter-reset: at-figure;
}

/* Increment
 ========================================================================== */
.at-figure-caption-numbering::after {
  counter-increment: at-figure;
  content: " " counter(at-figure) ".";
}
