at-callout {
  .at-article-callout-inline {
    display: inline;
    background-color: #e0f2f1;
    border-bottom: 1px solid #00897b;
    padding: 1px 0.8em;

    position: relative;
    font-size: 0.75em;
    bottom: 2px;

    p:last-child, ul:last-child {
      margin-bottom: 0;
    }
  }
  .at-article-callout-inline a {
    text-decoration: none;
  }
  .at-article-callout-block {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-gap: 10px;

    margin-bottom: 2em;
    padding: 1em 2em;
    background-color: #e0f2f1;
    box-shadow: 0 14px 25px rgba(0, 0, 0, 0.16);

    p:last-child, ul:last-child {
      margin-bottom: 0;
    }
  }
  .at-article-callout-block-icon {
    color: #004d40;
    font-size: 1.5em;
    margin: auto auto;
    border-right: 1px solid #00897b;
    padding-right: 1em;
  }
  .at-article-callout-block-content {
    margin: auto 0;
  }
  /* Title */
  .at-article-callout-block-title {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 1em;
  }
}
