at-references {
  .at-references {
    font-size: 1rem;
  }
  .at-references-item {
    margin:0 0 0.5em 0;
    padding-left: 0.8em;
    text-indent:-1.1em;
  }
  .at-references-item-index {display: none;}
  .at-references-item-backlink {
    text-decoration: none;
    font-size: 85%;
  }
  .at-references ol {
    list-style: decimal;
  }
}
