// Name:            Reference
// Description:     -
//
// Component:       `at-reference`
//
// ========================================================================

@import "../../globals/at-article.scss";

// Variables
// ========================================================================

$reference-font-color:                    $global-tertiary-color !default;
$reference-font-size:                     85% !default;
$reference-delimiter-color:               $global-font-color !default;
$reference-link-color:                    $global-link-color !default;
$reference-cite-color:                    $global-link-color !default;

$reference-links-badge-background:        transparent !default;
$reference-links-badge-color:             $global-font-color !default;

$reference-bibliography-color:            $global-heading-color !default;
$reference-bibliography-link-color:       $global-link-color !default;
$reference-bibliography-border-color:     $global-heading-color !default;
$reference-bibliography-abstract-color:   $global-tertiary-color !default;

$control-font-color:                      $global-font-color !default;
$control-passive-color:                   $global-muted-color !default;

/* ========================================================================
 Reference
========================================================================== */
at-reference {
  p & {
    .at-reference:before {
      content:'';
    }
  }

  /* type="default"
  ========================================================================== */
  .at-reference-default {
    display:inline;
    position: relative;
    vertical-align: baseline;
    font-size: $reference-font-size;
    top: -0.3rem;
    left: 0rem;
    color: $reference-font-color;
  }
  /* type="bibliography", type="references"
  ========================================================================== */
  .at-reference-bibliography,
  .at-reference-references {
    font-size: inherit;
  }

  /* Link
  ========================================================================== */
  .at-reference-bibliography a,
  .at-reference-references a {
    text-decoration: none;
    color: $reference-link-color;
  }

  /* Fields
  ========================================================================== */
  .at-reference-language {
    font-weight: bold;
    font-size: .88em;
  }

  /* Cite
  ========================================================================== */
  .at-reference-cite {
    /*position: relative;
    vertical-align: baseline;
    font-size: $reference-font-size;
    top: -0.3rem;
    left: 0rem;
    color: $reference-font-color;*/
  }
  .at-reference-cite a {
    text-decoration: none;
    background: none;
    color: $reference-link-color;
  }

  /* Links
  ========================================================================== */
  .at-reference-links {
    display: inline;
    position: relative;
    top: -0.08em;
  }
  .at-reference-links::before {
    content: " ";
  }
} // end at-reference

/* ========================================================================
Reference: type="references"
========================================================================== */
at-reference {
  .at-reference-references .at-reference-read-online,
  .at-reference-references .at-reference-gs {
    font-weight: 300;
    font-size: 0.8em;
    min-width: 2em;
    padding: 0 .2em;
    margin-left: .2em;
  }
  .at-reference-references .at-reference-read-online a,
  .at-reference-references .at-reference-gs a {
    color: $reference-links-badge-color;
  }
  .at-reference-references cite,
  .at-reference-references cite a,
  .at-reference-references a cite {
    color: $reference-cite-color;
  }
} // end at-reference

/* ========================================================================
 Reference: type="bibliography"
========================================================================== */
at-reference {
  .at-reference-bibliography .at-reference-data {
    border-bottom: solid 2px $reference-bibliography-border-color;
    color: $reference-bibliography-color;
  }
  .at-reference-bibliography .at-reference-abstract {
    margin: .2em 0 1em 1em;
  }
  .at-reference-bibliography .at-reference-read-online {
    font-weight: 300;
    font-size: 0.8em;
    min-width: 2em;
    padding: 0 6px;
    margin-left: 3px;
  }
  .at-reference-bibliography a {
    color: $reference-bibliography-link-color;
  }
  .at-reference-bibliography .at-reference-abstract {
    color: $reference-bibliography-abstract-color;
  }
} // end at-reference

/* ========================================================================
   Reference wrapper type="default"
 ========================================================================== */
 at-reference {
   .at-references-open {
     display: inline;
     color: $reference-delimiter-color;
   }
   .at-references-close {
     display: inline;
     color: $reference-delimiter-color;
   }
   .at-reference-delimiter {
     display: inline;
     color: $reference-delimiter-color;
   }
} // end at-reference

/* ========================================================================
 Tippy
========================================================================== */
.tippy-tooltip.at-theme {
  background-color: #fff;
  border: 2px solid black;
}
.tippy-tooltip.at-theme .tippy-content at-reference {
  font-size: 1em;
  color: #222;
}
