at-abstract {
  .at-abstract {
    background-clip: border-box;
    background-color: #dae8f4;
    background-image: none;
    box-sizing: border-box;
    color: #3f88c5;
    display: block;
    font-size: 16px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-top: 40px;
    margin-bottom: 20px;
    max-width: 620px;
    padding: 20px;
    position: relative;
  }
  .at-abstract-heading {
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    margin-bottom: 10px;
    color: #222;
  }
}
